{% extends 'base.html' %}

{% block header %}
    <title>About</title>
    <h2>What is ACM Club?</h2>
{% endblock %}

{% block content %}
    <div>
        <img src="static\images\Mercyhurst_University_Logo.jpg" height=45% width=45%>
    </div>
    <p>
        ACM Club is a place to learn and share about Computer Science topics. It is open to everyone
        from enthusiasts to Data Science and Cyber Security Grad Students. Please join us in learning about Computer
        topics Science.
    </p>
    <p>
        For More info email: justin.minsk@gmail.com
    </p>

{% endblock %}
