<!DOCTYPE html>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style/base.css') }}">
<script src="static/js/base.js"></script>
<html lang="en">
<meta charset="UTF-8">

<head>
</head>

<body>

    <nav class="navbar">
        <ul id="main-nav">
            <li><a href="/" class="nav-links">Home</a></li>
            <li><a href="/about" class="nav-links">About</a></li>
            <li><a href="/news" class="nav-links">News</a></li>
        </ul>
    </nav>

    <div class="header">
        <h2>ACM Club</h2>
    </div>

    <div>{% block header %}{% endblock %}</div>

    <div>{% block content %}{% endblock %}</div>

</body>

<footer>
    <div class="footer">
        <div>
            <h3>Contact</h3>
            <p>Justin Minsk - justin.minsk@gmail.com</p>
        </div>
    </div>
</footer>
</html>