{% extends 'base.html' %}

{% block header %}
    <title>Installing Python</title>
    <h2>Installing Python</h2>
    <h5>Getting Python Up and Running on Your PC</h5>
{% endblock %}
{% block content %}
    <div>
        <img src="static\images\Anaconda_Logo.png" height="75" width="75">
    </div>

    <p>
        This is a discussion on how to install python and other important ideas of setting up your PC.
    <h5><a href="/slideshow" target="_blank">Slide Show</a></h5>
    </p>
{% endblock %}
